header h2{
    margin-top: 0%;
    color:white;
    padding: inherit;
    background-color:#0a2a66;
    font-family: cursive;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
header h3{
    font-size: 28px;
    text-align: center;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
li {
    margin:7px;
    font-size: 22px;
    color:cornflowerblue;
}
a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(35, 22, 219);
}